root = true

[*]
charset = UTF-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[{tests/functional/init/fixtures,tests/functional/site/fixtures}]
trim_trailing_whitespace = false
insert_final_newline = false
