{
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "var/phpqa/infection.log"
    },
    "minCoveredMsi": 100,
    "mutators": {
        "@default": true,
        "NotIdenticalNotEqual": false,
        "MBString": false
    }
}
