<?xml version="1.0"?>
<psalm xmlns="https://getpsalm.org/schema/config"
       cacheDirectory="var/psalm"
       errorLevel="2"
       findUnusedPsalmSuppress="true"
       findUnusedVariablesAndParams="true">
    <projectFiles>
        <directory name="./"/>
        <ignoreFiles allowMissingFiles="true">
            <file name=".php-cs-fixer.dist.php"/>
            <directory name="tests/functional/init/"/>
            <directory name="tests/functional/site/var/"/>
            <directory name="vendor/"/>
            <directory name="var/"/>
        </ignoreFiles>
    </projectFiles>

    <issueHandlers>
        <MissingConstructor>
            <errorLevel type="info">
                <directory name="tests/functional/site/src/Model"/>
            </errorLevel>
        </MissingConstructor>
        <PropertyNotSetInConstructor>
            <errorLevel type="info">
                <file name="src/Bridge/Symfony/Kernel.php"/>
                <directory name="tests/"/>
            </errorLevel>
        </PropertyNotSetInConstructor>
        
        <!-- false positives -->
        <UnresolvableInclude>
            <errorLevel type="suppress">
                <file name="src/Bridge/Symfony/Kernel.php"/>
            </errorLevel>            
        </UnresolvableInclude>
        <PossiblyNullReference>
            <errorLevel type="suppress">
                <file name="src/Bridge/Symfony/DependencyInjection/Configuration.php"/>
            </errorLevel>
        </PossiblyNullReference>
        <PossiblyUndefinedMethod>
            <errorLevel type="suppress">
                <file name="src/Bridge/Symfony/DependencyInjection/Configuration.php"/>
            </errorLevel>
        </PossiblyUndefinedMethod>
    </issueHandlers>

    <plugins>
        <pluginClass class="Psalm\SymfonyPsalmPlugin\Plugin"/>
    </plugins>
</psalm>
