{% extends 'layout.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}
    <main class="min-h-full flex flex-col justify-center py-12 sm:px-6 lg:px-8">
        <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-xl">
            <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10 prose">
                <h1>Index</h1>
                
                <dl>
                {% set last_route = null %}
                {% for route, options in yassg_index() %}
                    {% if last_route is not same as(route) %}
                        <dt>{{ route }}</dt>
                    {% endif %}
                    {% set last_route = route %}
                    
                    {% set path = path(route, options.parameters) %}
                    <dd><a href="{{ path }}">{{ path }}</a></dd>
                {% endfor %}
                </dl>
            </div>
        </div>
    </main>
{% endblock %}
