{% extends 'layout.html.twig' %}

{# query the database #}
{% set demo_page = yassg_query('collections.demo_page') %}

{% block body %}
<main>
    <h1>{{ demo_page.title }}</h1>
    <h2>Asset example</h2>
    <p><img src="{{ asset(demo_page.image) }}"/></p>
    <h2>Demo notes</h2>
    <p>Delete this file and tweak <code>config/*.yaml</code> files.</p>
    <h2><a href="{{ path('another') }}">Another</a> page</h2>
</main>
{% endblock %}
