{% extends 'layout.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}
    <main class="min-h-full flex flex-col justify-center py-12 sm:px-6 lg:px-8">
        <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-xl">
            <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10 prose">
                <h1>Index</h1>

                <dl>
                {% set last_route_name = null %}
                {% for location in yassg_index() %}
                    {% if last_route_name is not same as(location.route.name) %}
                        <dt>{{ location.route.name }}</dt>
                    {% endif %}
                    {% set last_route_name = location.route.name %}

                    {% set path = path(location.route.name, location.route.parameters) %}
                    <dd><a href="{{ path }}">{{ path }}</a></dd>
                {% endfor %}
                </dl>
            </div>
        </div>
    </main>
{% endblock %}
