name: Build
on:
    pull_request:
    push:
        branches:
            - "main"

jobs:
    MutationTest:
        runs-on: ubuntu-latest
        env:
            BUILD_ENV: ${{ matrix.php }}
        strategy:
            matrix:
                php: [ "8.0" ]
                dependencies: [ lowest, highest ]
        steps:
            -
                uses: actions/checkout@master
            -
                name: Composer install lowest dependencies
                if: "matrix.dependencies == 'lowest'"
                run: make composer-install-lowest
            -
                name: Composer install highest dependencies
                if: "matrix.dependencies == 'highest'"
                run: make composer-install
            -
                name: Tests with mutation
                run: make test
    CodeQualityAnalysis:
        runs-on: ubuntu-latest
        env:
            BUILD_ENV: ${{ matrix.php }}
        strategy:
            matrix:
                php: [ "8.0" ]
                dependencies: [ lowest, highest ]
        steps:
            -
                uses: actions/checkout@master
            -
                name: Composer install lowest dependencies
                if: "matrix.dependencies == 'lowest'"
                run: make composer-install-lowest
            -
                name: Composer install highest dependencies
                if: "matrix.dependencies == 'highest'"
                run: make composer-install
            -
                name: Run code quality analysis
                run: make check
    FunctionalTest:
        runs-on: ubuntu-latest
        steps:
            -
                uses: actions/checkout@master
            -
                name: Composer install dependencies
                run: make composer-install
            -
                name: Run functional test
                run: cd tests/resources && make
    DocumentationQualityAnalysis:
        runs-on: ubuntu-latest
        steps:
            -
                uses: actions/checkout@v1
            -
                name: Run documentation quality analysis
                run: make docs

